name: Run the tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Check out project
        uses: actions/checkout@v2

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
            node-version: "18"

      - name: Clean install the project
        run: npm ci

      - name: Install playwright
        run: npx playwright install  --with-deps

      - name: Run Plawyright tests
        run: npx playwright test

      - uses: actions/upload-artifact&@v3
        if: always()
        with:
              name: playwright-report
              path: playwright-report/
              retention-days: 30